
[extruder]
step_pin: toolhead:EXTRUDER_STEP
dir_pin: toolhead:EXTRUDER_DIR
enable_pin: !toolhead:EXTRUDER_EN
microsteps: 64
full_steps_per_rotation: 200
rotation_distance: 4.68337 #4.637
max_extrude_only_distance: 500
max_extrude_only_velocity: 120
# to be calibrated
pressure_advance: 0.025
pressure_advance_smooth_time: 0.03

[extruder]
heater_pin: toolhead:HE0
min_temp: -50
max_temp: 350
sensor_type: MAX31865
sensor_pin: toolhead:MAX_CS
spi_bus: spi0_gpio4_gpio3_gpio2
rtd_nominal_r: 1000
rtd_reference_r: 4300
rtd_num_of_wires: 2

[extruder]
#control: mpc
# Rapido2: temp:watts 220:67 240:65 260:64 280:62 300:60
heater_power: 64
cooling_fan: fan


#*# [extruder]
#*# control = pid
#*# pid_kp = 25.378
#*# pid_ki = 6.767
#*# pid_kd = 23.793
#*# pid_version = 1
#*# pid_target = 220.00
#*# pid_tolerance = 0.0250
#*#

[tmc2209 extruder]
uart_pin: toolhead:EXTRUDER_UART
interpolate: True
run_current: 0.850
#hold_current: #0.100
sense_resistor: 0.110
stealthchop_threshold: 0
#driver_TBL: 0
#driver_HEND: 6
#driver_TOFF: 7
#driver_HSTRT: 4

[verify_heater extruder]
max_error: 40 # 120
hysteresis: 5
check_gain_time: 30
heating_gain: 2

