[stepper_x]
step_pin: PE2
dir_pin: !PE0
enable_pin: !PE3
rotation_distance: 40
microsteps: 64 #16
full_steps_per_rotation: 200
endstop_pin: tmc2209_stepper_x: virtual_endstop
position_min: 0
position_endstop: 355
position_max: 355
homing_speed: 30
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PE1
interpolate: False #True
run_current: 1.061 #1.5
#hold_current: 1.061 #1.2 #1.5
sense_resistor: 0.150
#stealthchop_threshold: 0
uart_address:3
driver_sgthrs: 75 #65
diag_pin: PE15
driver_TBL: 1
driver_TOFF: 3
driver_HSTRT: 7
driver_HEND: 5

#--------------------------------------------------------------------

[stepper_y]
step_pin: PB8
dir_pin: !PB6
enable_pin: !PB9
rotation_distance: 40
microsteps: 64 #16
full_steps_per_rotation: 200
endstop_pin: tmc2209_stepper_y: virtual_endstop
position_min: 0
position_endstop: 364
position_max: 364
homing_speed: 30
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PB7
interpolate: False #True
run_current: 1.061 #1.5
#hold_current: 1.061 #1.2 #1.5
sense_resistor: 0.150
#stealthchop_threshold: 0
uart_address:3
driver_sgthrs: 90 #75 #65
diag_pin: PE13
driver_TBL: 1
driver_TOFF: 3
driver_HSTRT: 7
driver_HEND: 5

#--------------------------------------------------------------------

[stepper_z] #motherboard：Z3
step_pin:PC0
dir_pin:PE5
enable_pin:!PC1
rotation_distance: 40
gear_ratio: 80:12
microsteps: 64 #16
endstop_pin: probe:z_virtual_endstop
# lost 10mm due to bed raise
position_max: 337 #347
position_min: -5
#position_endstop: 0
# carto
homing_retract_dist: 0
# not carto
#homing_speed: 15.0
#homing_retract_dist: 5.0
#homing_retract_speed: 15.0
#second_homing_speed: 5.0

#--------------------------------------------------------------------
[tmc2209 stepper_z]
uart_pin: PE6
interpolate: false #true
run_current: 0.566 #0.58
#hold_current: 0.566 #0.58
sense_resistor: 0.150
stealthchop_threshold: 999999
uart_address:3
#driver_TBL: 1
#driver_TOFF: 3
#driver_HSTRT: 0
#driver_HEND: 2

[stepper_z1] ##motherboard：Z1
step_pin:PD3
dir_pin:!PD1
enable_pin:!PD4
rotation_distance: 40
gear_ratio: 80:12
microsteps: 64 #16
#--------------------------------------------------------------------
[tmc2209 stepper_z1]
uart_pin:PD2
interpolate: false #true
run_current: 0.566 #0.58
#hold_current: 0.566 #0.58
sense_resistor: 0.150
stealthchop_threshold: 999999
uart_address:3
#driver_TBL: 1
#driver_TOFF: 3
#driver_HSTRT: 0
#driver_HEND: 2

[stepper_z2] ##motherboard：Z2
step_pin:PD7
dir_pin:PD5
enable_pin:!PB5
rotation_distance: 40
gear_ratio: 80:12
microsteps: 64 #16
#--------------------------------------------------------------------
[tmc2209 stepper_z2]
uart_pin:PD6
interpolate: false #true
run_current: 0.566 #0.58
#hold_current: 0.566 #0.58
sense_resistor: 0.150
stealthchop_threshold: 999999
uart_address:3
#driver_TBL: 1
#driver_TOFF: 3
#driver_HSTRT: 0
#driver_HEND: 2

[stepper_z3] ##motherboard：Z4
step_pin:PD11
dir_pin:!PD9
enable_pin:!PD12
rotation_distance: 40
gear_ratio: 80:12
microsteps: 64 #16
#--------------------------------------------------------------------
[tmc2209 stepper_z3]
uart_pin:PD10
interpolate: false #true
run_current: 0.566 #0.58
#hold_current: 0.566 #0.58
sense_resistor: 0.150
stealthchop_threshold: 999999
uart_address:3
#driver_TBL: 1
#driver_TOFF: 3
#driver_HSTRT: 0
#driver_HEND: 2

