[gcode_macro _filament_var]
variable_load_filament_extruder_temp: 230
gcode:

[gcode_macro LOAD_FILAMENT]
gcode:
    {% set load_temp = params.TEMP|default(printer['gcode_macro _filament_var'].load_filament_extruder_temp)|int %}
    {% set current_target_temp = printer.extruder.target|int %}

    {% if printer.print_stats.state != "printing" %}
	UPDATE_DELAYED_GCODE ID=LOAD_UNLOAD_DELAYED_EXTRUDER_OFF DURATION=0.0
	M117 Nozzle heating...
	{action_respond_info("Nozzle heating...")}
        {% if current_target_temp == 0 %}
            M104 S{load_temp}
            TEMPERATURE_WAIT SENSOR="extruder" MINIMUM={load_temp - 10}
        {% else %}
            M104 S{current_target_temp}
            TEMPERATURE_WAIT SENSOR="extruder" MINIMUM={current_target_temp - 5}
        {% endif %}
        M117 Extruding...
        G91 
        G1 E55 F300
        G1 E40 F150
        G1 E-2 F300
        G90
        M400
        M117 Load Done
        M400
        {% if current_target_temp == 0 or printer.print_stats.state != "paused"%}
            M104 S0
        {% endif %}
    {% else %}
        {action_respond_info("Printer is printing, can't change filament!")}
    {% endif %}


[gcode_macro UNLOAD_FILAMENT]
gcode:
    {% set load_temp = params.TEMP|default(printer['gcode_macro _filament_var'].load_filament_extruder_temp)|int %}
    {% set current_target_temp = printer.extruder.target|int %}

    {% if printer.print_stats.state != "printing" %}
	UPDATE_DELAYED_GCODE ID=LOAD_UNLOAD_DELAYED_EXTRUDER_OFF DURATION=0.0
	M117 Nozzle heating...
	{action_respond_info("Nozzle heating...")}
	{% if current_target_temp == 0 %}
            M104 S{load_temp}
            TEMPERATURE_WAIT SENSOR="extruder" MINIMUM={load_temp - 10}
        {% else %}
            M104 S{current_target_temp}
            TEMPERATURE_WAIT SENSOR="extruder" MINIMUM={current_target_temp - 5}
        {% endif %}
        M117 Retracting...
        G91
        G1 E+25 F300
        G1 E-10 F1500
        G1 E-20 F600
        M400
        G4 P3000
        G1 E-50 F300 
        G90
        M400
        CLEAR_ACTIVE_SPOOL
        M117 Unload Done
        M400
        {% if current_target_temp == 0 or printer.print_stats.state != "paused"%}
            M117 Waiting for load...
	    {action_respond_info("Waiting for load...")}
            UPDATE_DELAYED_GCODE ID=LOAD_UNLOAD_DELAYED_EXTRUDER_OFF DURATION=30.0
        {% endif %}
    {% else %}
        {action_respond_info("Printer is printing, can't change filament!")}
    {% endif %}

[delayed_gcode LOAD_UNLOAD_DELAYED_EXTRUDER_OFF]
gcode:
    M117 Unload Done
    {action_respond_info("Unload Done")}
    M104 S0

[gcode_macro LOAD_FILAMENT_HI]
gcode:
    LOAD_FILAMENT TEMP=245

[gcode_macro UNLOAD_FILAMENT_HI]
gcode:
    UNLOAD_FILAMENT TEMP=245

[gcode_macro SET_ACTIVE_SPOOL]
gcode:
  {% if params.ID %}
    {% set id = params.ID|int %}
    #{action_call_remote_method("spoolman_set_active_spool", spool_id=id)}
  {% else %}
    {action_respond_info("Parameter 'ID' is required")}
  {% endif %}

[gcode_macro CLEAR_ACTIVE_SPOOL]
gcode:
  #{action_call_remote_method("spoolman_set_active_spool", spool_id=None)}
  M117 Cleared active spool
